body {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', 'Arial', serif;
	background-color: #f2f2f2;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.to-right {
	float: right;
}

.to-left {
	float: left;
}


/*-----main-page-----*/

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	text-transform: uppercase;
}

/*-----header-----*/

.main-header {
	position: relative;
}

.main-navigation img {
	position: absolute;
	left: 531px;
}

.main-navigation_list {
	margin: 0;
	padding: 0 70px;
	list-style: none;
}

.main-navigation_list_li {
	width: 212px;
	padding: 15px 0;
}

.main-navigation_list_li:nth-child(3),
.main-navigation_list_li:nth-child(4) {
	text-align: right;
}

.main-navigation a {
	text-decoration: none;
	color: #000000;
	line-height: 26px;
	font-weight:bold;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #b2b2b2;
}

/*------main-----*/

.promo {
	width: 100%;
	height: 360px;
	padding: 75px 0;
	background: url('../img/shape-for-bgd.png') no-repeat 0 100%,
							#e4f1f9 url('../img/promo-bg.jpg') no-repeat 0 20%;
}

.promo img {
	display: block;
	margin: 0 auto;
}

img.promo-title {
	margin-top: 55px;
	margin-bottom: 55px;
}

.review {
	padding: 60px 0;
}

.review p {
	color: #333333;
	text-align: center;	
}

.review-title {
	margin: 0;
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	
}

.review-text {
	margin: 0;
}

.fact-with-img {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.fact-with-img .fact {
	padding-top: 55px;
	padding-bottom: 50px;
}

.fact-with-img h2 {
	color: inherit;
}

.facts {
	background-color: #eeeeee;
	text-align: center;
	font-size: 0;
}

.facts .fact {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.fact {
	width: 400px;
	padding: 0;
	padding-top: 45px;
	padding-bottom: 60px;
}

.fact h2 {
	margin: 0;
}

.number {
	display: block;
	margin: 22px 0;
}

.fact p {
	margin: 0;
}

.fact-bg {
	width: 800px;
	height: 256px;
}

.bg-left {
	float: left;
	background: #81b3d2 url('../img/fact-bgd-left.jpg') no-repeat;
}

.bg-right {
	float: right;
	background: #81b3d2 url('../img/fact-bgd-right.jpg') no-repeat;
}

.features {
	padding-top: 55px;
	padding-bottom: 85px;
	font-size: 0;
}

.feature {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
}

.feature h2 {
	margin: 30px 0;
}

.feature p {
	margin: 0;
}

.search-form-title {
	position: relative;
	padding-top: 55px;
	text-align: center;
}

.search-form-title h2 {
	margin: 0;
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 24px;
}

.search-form-title p {
	margin: 0;
	margin-bottom: 50px;
}

.map-bg {
	height: 473px;
	background: #f2f1ef url('../img/map.jpg') no-repeat;
}


.search-block {
	position: relative;
	width: 568px;
	margin: 0 auto;
}


.search-block_btn {
	display: block;
	width: 568px;
	padding: 30px 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	border: none;
	background-color: #766357;	
}

.search-form {
	position: absolute;
	top: 86px;
	left: 0;
	width: 568px;
	padding: 55px 0;
	font-size: 23px;
	line-height: 20px;
	font-weight: bold;
	background-color: #ffffff;
}

.search-form_container {
	width: 458px;
	margin: 0 auto;
}

.form-line {
	position: relative;
	margin-bottom: 30px;
	font-size: 0;
}

.search-form input {
	display: inline-block;
	vertical-align: middle;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: #f2f2f2;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:active {
	box-shadow: inset 0 0 0 2px #e5e5e5;
	background-color: #ffffff;	
}

.search-block label {
	display: inline-block;
	vertical-align: middle;
	width: 112px;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.search-block input[type="date"] {
	width: 321px;
	padding-left: 15px;
	padding-right: 10px;
}

.calendar-icon {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 21px;
	height: 22px;
	background: #f2f2f2 url('../img/spritesheet.png') no-repeat -10px -10px;
	opacity: 0.5;
}

.calendar-icon:hover {
	opacity: 1;
}

.calendar-icon:active {
	background: #f2f2f2 url('../img/spritesheet.png') no-repeat -10px -52px;
}

.search-block input[type="number"] {
	width: 64px;
	padding-left: 25px;
	padding-right: 25px;	
}

.control-minus {
	position: absolute;
	top: 18px;
	right: 89px;
	width: 12px;
	height: 3px;
	background: #f2f2f2 url('../img/spritesheet.png') no-repeat -10px -251px;
	opacity: 0.5;
}

.control-minus:hover {
	opacity: 1;
}

.control-minus:active {
	background-position: -10px -274px;
}

.control-plus {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 11px;
	height: 11px;
	background: #f2f2f2 url('../img/spritesheet.png') no-repeat -10px -297px;
	opacity: 0.5;
}

.control-plus:hover {
	opacity: 1;
}

.control-plus:active {
	background-position: -10px -328px;
}

.form-line-container {
	margin-bottom: 55px;
}

.form-line-container .form-line {
	width: 228;
	margin-bottom: 0;
}

.form-line-container .children-label {
	width: 85px;
	padding-right: 27px;
	text-align: right;
}

.search-form input[type="submit"] {
	width: 100%;
	display: block;
	padding: 16px 0;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	background-color: #81b3d2;
}

.search-form input[type="submit"]:hover {
	background-color: #669ec0;
}

.search-form input[type="submit"]:active {
	opacity: 0.5;
	background-color: #5496bd;
}

/*-----footer-----*/

.main-footer {
	padding: 35px 0;
	font-size: 0;
}

.main-footer section {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	font-size: 14px;
	text-align: center;
}

.main-footer .hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-copyright {
	font-size: 0;
}

.footer-copyright span,
.footer-copyright a {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.footer-copyright span {
	margin-right: 5px;
	font-size: 14px;
}

.footer-copyright a {
	width: 113px;
	height: 39px;
	background: #ffffff url('../img/spritesheet.png') no-repeat -10px -133px;
}

.footer-copyright a:hover {
	background-position: -10px -192px;
}

.footer-copyright a:active {
	background-position: -10px -133px;
	opacity: 0.5;
}

section.footer-social-btns {
	font-size: 0;
}

.social-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #669ec0;
}


.social-btn:active {
	background-color: #5496bd;
}


.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #81b3d2 url('../img/spritesheet.png') no-repeat;
}

.social-btn:active::before {
	opacity: 0.5;
}

.social-btn-tw::before {
	width: 17px;
  height: 15px;
	background-position: -10px -396px;
}

.social-btn-fb::before {
	width: 10px;
  height: 19px;
	background-position: -10px -94px;
}

.social-btn-ytb::before {
	width: 20px;
  height: 16px;
	background-position: -10px -431px;
}

/*-----catalog-page-----*/

.filters {
	padding: 30px 70px;
	color: #ffffff;
	background: #4e7faa url('../img/filter-bgd.jpg') no-repeat;
}

.filters-left-part {
	float: left;
	width: 528px;
	font-size: 0;
}

.filters-left-part .infrastructure,
.filters-left-part .property-type {
	display: inline-block;
	vertical-align: middle;
	width: 255px;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.filters-left-part_title {
	margin-bottom: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filters-left-part label {
	position: relative;
	display: block;
	padding-left: 40px;
	margin-bottom: 30px;
	cursor: pointer;
}

.property-type label:last-of-type,
.infrastructure label:last-of-type {
	margin-bottom: 0;
}

.filters-left-part input[type="checkbox"] {
	display: none;
}

.filters-left-part input[type="checkbox"] + .checkbox-indicator {
	position:absolute;
	top: -4px;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #ffffff;
	border-radius: 20%;
}

.filters-left-part input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.5;
}

.filters-left-part input[type="checkbox"]:checked + .checkbox-indicator::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 5px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 20%;
	transform: rotate(-45deg);
	
}

.filters-left-part input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: -2px;
	left: 13px;
	width: 5px;
	height: 20px;
	background-color: #ffffff;
	border-radius: 20%;
	transform: rotate(45deg);
}

.filter-range {
	float: right;
	width: 328px;
	
}

.filter-range_title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative; 
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort-filter {
	padding: 35px 70px;
	border-bottom: 1px dotted #e5e5e5;
}

.sort-filter > span {
	float: left;
	width: 162px;
	margin-right: 10px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.sort-method {
	float: left;
	width: 800px;
	margin-top: 5px;
	font-size: 0;
}

.sort-method span {
	display: inline-block;
	width: 89px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
	
}

.sort-method ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.sort-method li {
	display: inline-block;
	width: 89px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
}

.sort-method a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	color: #b2b2b2;
}

.sort-method a:hover {
	color: #81b3d2;
}

.sort-method a:active {
	border: none;
	color: #000000;
}

.arrow-control {
	position: relative;
	float: right;
	width: 35px;
}

.arrow-control a {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5px 10px 5px;
}

.arrow-control .up {
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #cccccc;
	border-top: none;
}

.arrow-control .down {
	left: 24px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: #cccccc;
	border-bottom: none;
}

.arrow-control .down:hover {
	border-top-color: #000000;
}

.arrow-control .up:hover {
	border-bottom-color: #000000;
}

.arrow-control .down:active {
	border-top-color: #81b3d2;
}

.arrow-control .up:active {
	border-bottom-color: #81b3d2;
}

.search-result {
	padding: 25px 70px 30px;
	border-bottom: 1px dotted #e5e5e5;
}

.search-result-img {
	float: left;
	width: 135px;
	margin-top: 5px;
	margin-right: 30px;
}

.result-info {
	float: right;
	width: 895px;
}

.result-title a {
	float:left;
	width: 360px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.result-title a:hover {
	color: #81b3d2;
}

.result-title a:active {
	color: #b2b2b2;
}

.rating-stars {
	float: right;
	width: 125px;
	text-align: right;
	font-size: 0;
}

.rating-stars ul {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.rating-stars .star {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 17px;
	margin-right: 6px;
	background: #ffffff url('../img/spritesheet.png') no-repeat -10px -359px;
}

.rating-stars .star:last-child {
	margin-right: 0;
}

.result-price {
	margin: 9px 0 11px;
}

.result-price span {
	margin-left: 40px;
}

.result-btns a {
	float: left;
	padding: 3px 18px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

.result-btns .more-result {
	margin-right: 6px;
	background-color: #81b3d2;
}

.result-btns .more-result:hover {
	background-color: #669ec0;
}

.result-btns .more-result:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #5496bd;
}

.result-btns .reservation {
	background-color: #766357;
}

.result-btns .reservation:hover {
	background-color: #604e43;
}

.result-btns .reservation:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #503e33;
}

.rating-info {
	float: right;
	padding: 3px 15px;
	text-align: center;
	color: #666666;
	background-color: #f2f2f2;
}


/*-----active-elements-----*/

.active-link {
	color: #766357;	
}

.active-link:hover {
	color: #604e43;
}

.active-link:active {
	color: #d6d0cc;
}

.sort-filter .active-sort-method {
	color: #b3d1e4;
}

.arrow-control .active-top-arrow-control {
	border-bottom-color: #81b3d2;
}

.arrow-control .active-bottom-arrow-control {
	border-top-color: #81b3d2;
}
