body {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', 'Arial', serif;
	background-color: #333333;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.to-right {
	float: right;
}

.to-left {
	float: left;
}


.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	text-transform: uppercase;
}

.main-header {
	position: relative;
}

.main-navigation img {
	position: absolute;
	left: 531px;
}

.main-navigation_list {
	margin: 0;
	padding: 0 70px;
	list-style: none;
}

.main-navigation_list_li {
	width: 212px;
	padding: 15px 0;
}

.main-navigation_list_li:nth-child(3),
.main-navigation_list_li:nth-child(4) {
	text-align: right;
}

.main-navigation a {
	text-decoration: none;
	color: #000000;
	line-height: 26px;
	font-weight:bold;
}


.main-navigation a:visited {
	color: #b2b2b2;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #88786d;
}


/*
.main-navigation a:active:hover {
	color: #6b5a50;
}
*/


/*
.main-navigation a:active:visited {
	opacity: 0.5;
}
*/

.promo {
	height: 360px;
	padding: 75px 0;
	background: url('../img/shape-for-bgd.png') no-repeat 0 100%,
							url('../img/promo-bg.jpg') no-repeat 0 20%;
}

.promo img {
	display: block;
	margin: 0 auto;
}

img.promo-title {
	margin-top: 55px;
	margin-bottom: 55px;
}

.review {
	padding: 60px 0;
}

.review p {
	color: #333333;
	text-align: center;	
}

.review-title {
	margin: 0;
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	
}

.review-text {
	margin: 0;
}

.fact-with-img{
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.fact-with-img h2 {
	color: inherit;
}

.facts {
	background-color: #eeeeee;
	text-align: center;
	font-size: 0;
}

.facts .fact {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.fact {
	width: 400px;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 62px;
}

.fact h2 {
	margin: 0;
	margin-bottom: 25px;
}

.number {
	margin-top: 25px;
}

.fact p {
	margin: 0;
	margin-top: 30px;
}

.fact-bg {
	width: 800px;
	height: 256px;
}

.bg-left {
	float: left;
	background: url('../img/fact-bgd-left.jpg') no-repeat;
}

.bg-right {
	float: right;
	background: url('../img/fact-bgd-right.jpg') no-repeat;
}

.features {
	padding-top: 55px;
	padding-bottom: 85px;
	font-size: 0;
}

.feature {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
}

.feature h2 {
	margin: 30px 0;
}

.feature p {
	margin: 0;
}

.search-form-title {
	position: relative;
	padding-top: 55px;
	padding-bottom: 140px;
	text-align: center;
}

.search-form-title h2 {
	margin: 0;
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 24px;
}

.search-form-title p {
	margin: 0;
}

.map-bg {
	height: 473px;
	background: url('../img/map.jpg') no-repeat;
}

.search-form {
	position: absolute;
	top: 205px;
	left:315px;
	background-color: #ffffff;
}

.search-form_container {
	width: 456px;
	padding: 55px 55px;
	font-size: 23px;
	line-height: 20px;
	font-weight: bold;
}

.search-form input[type="button"] {
	width: 100%;
	display: block;
	padding: 30px 0;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	background-color: #766357;	
}

.form-line {
	position: relative;
	font-size: 0;
	margin-bottom: 30px;
}

.search-form_container input {
	display: inline-block;
	vertical-align: middle;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	border: none;
	background-color: #f2f2f2;
}


.search-form label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.search-form input[type="date"] {
	width: 321px;
	padding-left: 15px;
	padding-right: 10px;
}

.search-form input[type="number"] {
	width: 94px;
	padding-left: 25px;
	padding-right: 25px;
	
}

.form-line-container {
	margin-bottom: 55px;
}

.form-line-container .form-line {
	margin-bottom: 0;
}

.form-line-container .form-line:first-child {
	width: 250px;
	text-align: left;
}

.form-line-container .form-line:last-child {
	width: 206px;
	text-align: right;
}

.calendar-icon {
	position: absolute;
	top: 15%;
	left: 93%;
	width: 20px;
	height: 22px;
	background-color: ;
}

.search-form input[type="submit"] {
	width: 100%;
	display: block;
	padding: 16px 0;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	background-color: #81b3d2;
}

.main-footer {
	padding: 35px 0;
	font-size: 0;
}

.main-footer section {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	font-size: 14px;
	text-align: center;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

section.footer-copyright {
	font-size: 0;
}

.footer-copyright span,
.footer-copyright img {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	font-size: 14px;
}

.footer-copyright span {
	margin-right: 5px;
}

section.footer-social-btns {
	font-size: 0;
}

.social-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #669ec0;
}

/*
.social-btn:visited {
	background-color: #5496bd;
}
*/

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url('../img/sprite.png') no-repeat;
}

.social-btn-tw::before {
	width: 17px;
  height: 15px;
	background-position: -10px -91px;
}

.social-btn-fb::before {
	width: 10px;
  height: 19px;
	background-position: -10px -52px;;
}

.social-btn-ytb::before {
	width: 20px;
  height: 16px;
	background-position: -10px -126px;
}



.filters {
	padding: 30px 0;
	background: url('../img/filter-bgd.jpg') no-repeat;
}

.main-container {
	width: 1060px;
	margin: 0 auto;
}

.form-left-part {
	float: left;
	width: 528px;
	font-size: 0;
}

.form-left-part fieldset {
	display: inline-block;
	vertical-align: middle;
	width: 240px;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.form-left-part legend {
	margin-bottom: 25px;
}

.form-left-part label {
	display: block;
	margin-left: 40px;
	margin-bottom: 30px;
}

.form-left-part input[type="checkbox"],
.form-left-part input [type="radio"] {
	display: none;
}

.form-right-part {
	float: right;
	width: 328px;
	min-height: 217px;
}

.form-right-part fieldset {
	margin: 0;
	padding: 0;
}

.form-right-part legend {
	margin-bottom: 0;
}

.range-output {
	width: 318px;
	min-height: 36px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
}

.form-right-part input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.sort-filter {
	width: 100%;
	padding: 35px 0;
}

.sort-filter > span {
	float: left;
	width: 110px;
	margin-right: 55px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sort-method {
	float: left;
	width: 356px;
	margin-top: 5px;
	font-size: 0;
}

.sort-method span {
	display: inline-block;
	width: 89px;
	vertical-align: middle;
	font-size: 14px;
	
}

.sort-method ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.sort-method li {
	display: inline-block;
	width: 89px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
}

.up-down {
	float: right;
	width: 35px;
	min-height: 10px;
	background-color: #81b3d2;
}

.search-result {
	width: 100%;
	padding: 30px 0;
}

.search-result-img {
	float: left;
	width: 135px;
	margin-right: 30px;
}

.result-info {
	float: right;
	width: 895px;
}

.result-title {
	padding-bottom: 15px;
}

.result-title h2 {
	float:left;
	width: 360px;
	margin: 0;
}

.stars {
	float: right;
	width: 240px;
	text-align: right;
}

.result-price {
	padding-bottom: 15px;
}

.result-price span {
	margin-left: 40px;
}

.result-btns a {
	float: left;
	width: 110px;
	padding: 3px 0;
}

.result-btns a:last-of-type {
	width: 140px;
}

.raiting-info {
	float: right;
	width: 110px;
	padding: 3px 0;
	text-align: center;
}


